/* form styling */
div.button{
  text-align: center;
  width: max-content;
  margin: auto;
  display: block;
}

form.button{
  text-align: center;
  width: max-content;
  margin: auto;
  display: block;
}

div.login form{
  width: max-content;
  margin: auto;
  text-align: left;
  color: gray;
}

.radios{
  padding-top: 5px;
  width: max-content;
  margin: auto;
  color: gray;
}

div.button form{
  display: inline-block;
  color: gray;
}

div.button button{
  margin-top: 10px;
}

form.button button{
  margin-top: 10px;
}

#gui {
  margin: auto;
}

#gui ul{
  text-align: center;
  float: left;
  padding-left: 4%;
  padding-right: 4%;
  margin-top: 0%;
  margin-bottom: 0%;
}
/* end form styling */

/* page styling */
body {
  background-color: #2F2F2F;
  padding-left: 0;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

h1 {
  text-align: center;
  color: gray;
}

form.button h3 {
  display: inline-block;
  color: gray;
}

h2 {
  color: gray;
}

section h2 {
  text-align: center;
}
#Welcome{
  text-align: right;
  color: gray;
}

h3 {
  text-align: center;
  color: gray;
}

p.button {
  color: gray;
}

article p {
  text-align: left;
  text-indent: 50px;
  width: 30%;
  margin: auto;
  color: white;
}

.left {
  float: left;
  width: 33.33%;
}

.middle {
  float: left;
  width: 33.33%;
}

.right {
  float: left;
  width: 33.33%;
}

.right2 {
  float: left;
  width: 66.66%;
}

.left2{
  float: left;
  text-align: center;
  width: 33.33%;
}

.sbs:after {
  content: "";
  display: table;
  clear: both;
}


/* end html styling */

/* Picross Table Styling */

#picross{
  width: max-content;
  margin: auto;
}

#picross table tr{
  width: 40px;
  height: 40px;
}

#picross table tr td {
  color: white;
  border-color: #111;
  width: 40px;
  height: 40px;
  text-align: center;
}

td:hover {
  background-color: lightgray;
}

/* End Picross Table Styling */

/* Leaderboard styling */

/* Table styling */
#leaderboard{
  border-collapse:collapse;
  border: 5px;
  border: solid;
  border-color: gray;
  background-color: white;
  margin: auto;
  margin-top: 10px;
}

/* Header styling */
#leaderboard tr th{
  text-align: center;
  border-right: 5px;
  border-right: solid;
  border-right-color: gray;
  padding-left: 10px; 
  padding-right: 10px;
}

/* Row styling */
#leaderboard tr{
  border-collapse:collapse;
  border: 5px;
  border-bottom: solid;
  border-color: gray;
}

/* Cell styling */
#leaderboard tr td{
  /* border-collapse: collapse; */
  background-color: white;
  text-align: center;
  border-right: 5px;
  border-right: solid;
  border-right-color: gray;
  padding-left: 10px; 
  padding-right: 10px;
  outline: 1px;
}

/* End Leaderboard styling */
