/* form styling */
.radios {
	background: none;
	display: inline;
	margin: 0;
	padding: 0;
}

.radios ul {
	border: none;
	display: inline-block;
	list-style: none;
	margin: 0;
	padding: 0;
}

.radios li {
	margin: 0;
	display: inline-block;
}

.radios label {
	margin-right: 25px;
	width: auto;
}

.radios input {
	margin-top: 3px;
}

div.button{
	text-align: center;
	padding-top: 10px;
}

/* end form styling */

/* html styling */
body {
  background-color: #2F2F2F;
  padding-left: 0;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

h1 {
  text-align: center;
  color: gray;
}

h2 {
  color: gray;
}

section h2 {
  text-align: center;
}
h3 {
  text-align: center;
  color: gray;
}

article p {
  text-align: center;
  color: white;
}
/* end html styling */

/* Picross Table Styling */

#picross {
  margin: auto;
  padding-top: 5%;
  padding-bottom: 5%;
}

#picross table tr button {
  border-color: #111;
  width: 40px;
  height: 40px;
  margin: 10;
}

#picross table tr button:hover {
  background-color: white;
}

/* End Picross Table Styling */

/* Nav bar styling */
ul.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
	color: white;
}

li.menu {
	padding-top: 10px;
}

li.menu-left {
  float: left;
  border-right: 1px solid #bbb;
}

li.menu-right {
	float: right;
  border-left: 1px solid #bbb;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a.inactive:hover {
  background-color: #111;
}

a.menu-right:hover {
  background-color: #111;
}

.active {
    background-color: gray;
    color: black;
}

/* end Nav bar styling */
