/* form styling */
div.button{
	text-align: center;
	padding-top: 10px;
}

div.button form{
  /* width: 15%; */
  display: inline-block;
  color: gray;
}

div.button button{
  margin-top: 10px;
}

#gui {
  width: 25%;
  margin: auto;
}

#gui ul{
  text-align: center;
  display: inline-block;
  padding-left: 1%;
  padding-right: 1%;
}

/* end form styling */

/* html styling */
body {
  background-color: #2F2F2F;
  padding-left: 0;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

h1 {
  text-align: center;
  color: gray;
}

div.button h3 {
  display: inline-block;
  color: gray;
}

h2 {
  color: gray;
}

section h2 {
  text-align: center;
}
#Welcome{
  text-align: right;
  color: gray;
}
h3 {
  text-align: center;
  color: gray;
}

p.button {
  color: gray;
}

article p {
  text-align: left;
  text-indent: 50px;
  margin: auto;
  color: white;
}
/* end html styling */

/* Picross Table Styling */

#picross{
  width: 50%;
  margin: auto;
}

#picross table tr{
  width: 40px;
  height: 40px;
}


#picross table tr td {
  color: white;
  border-color: #111;
  background-color: white;
  width: 40px;
  height: 40px;
  text-align: center;
}

#picross table tr td:hover {
  background-color: gray;
}

/* End Picross Table Styling */

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
